<h1>Data-Driven Web</h1>
<p>Ik ben dus {{ person.name }}</p>
<img src="{{ person.avatar }}">
<p>Het is vandaag {{ 'now' | date: "%d-%m-%Y %H:%M" }}</p>

<details><summary>Data</summary><pre>{{ person | json:4 }}</pre></details>

<p>i love {{ person.custom.loves }}</p>
